<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script>
        function findNewPoint(x, y, angle, distance) {
            var result = {};

            result.x = Math.round(Math.cos(angle * Math.PI / 180) * distance + x);
            result.y = Math.round(Math.sin(angle * Math.PI / 180) * distance + y);

            return result;
        }
        function createnodes() {
            var nodes = '';
                    var angle = 15;
                    for (var i = 0; i<6; i++)
                    {
                        var newPoint = findNewPoint(0, 0, angle, 200);
                        console.log(newPoint)
                        nodes+= '<div style="top:' + newPoint.y + 'px;left:'+newPoint.x +'px;height:20px;width:20px;position:absolute;border:2px solid black">';
                        nodes+= i + '</div>';
                        angle += 15;
                        document.getElementById('nodes').innerHTML = nodes;

                    }

        }
        window.onload = createnodes;
    </script>
</head>
<body>
    <div id="nodes"></div>
</body>
</html>